* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Light-Pink: #F8EEFF;
  --Pale-purple: #8B6990;
  --Pink: #AD28EB;
  --Dark-Purple: #301534;
  --White: #fff;
}


body {
  background-color: var(--Light-Pink);
}

.container {
  display: grid;
  grid-template-rows: 8.90rem 5.375rem auto;
  grid-template-columns: minmax(1.5rem, 26.25rem) minmax(20.44rem, 37.5rem) minmax(1.5rem, 26.25rem);
  justify-content: center;
}

.header {
  grid-row: 1 /3;
  grid-column: 1 / 4;
  background: url('./img/background.svg') no-repeat center ; 
}


.card {
  background-color: var(--White);
  min-width: 20.438rem;
  border-radius: .5rem;
  color: var(--Dark-Purple);
  font-family: 'Work Sans', sans-serif;
  padding: 1.5rem 1.5rem 0  1.5rem;
  grid-row: 2/4;
  grid-column: 2/3;
}

.card-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1.5rem;
  line-height: 2.346rem;
  color: var(--Dark-Purple);
}

.star-logo {
  width: 1.31rem;
  height: 1.31rem;
}

.question-container {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 1.875rem;
}

.question-container:first-of-type {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.question-container:last-of-type {
  margin-bottom: 1.5rem;
}

.question-text {
  font-weight: 600;
  line-height: 1.17rem;
  color: var(--Dark-Purple);
  width: 80%;
}

.toggle-image {
  width: 1.52rem;
  height: 1.52rem;
}

.answer-text {
  color: var(--Pale-purple);
  font-weight: 400;
  line-height: 1.31rem;
  font-size: 0.875rem;
  overflow: hidden;
  border-bottom: 1px solid var(--Light-Pink);
  max-height: 0;
}

.revealed {
  max-height: 600px;
  padding-bottom: 1.25rem;
}

@media screen and (min-width:768px) {
  
  .container {  
    grid-template-rows: 10.467rem 9.531rem auto;
  }

  .card {
    padding: 2.5rem 2.5rem 0  2.5rem;
    border-radius: 1rem;
  }

  .card-title-container {
    margin-bottom: 2rem;
  }

  .title {
    font-size: 3.5rem;
    line-height: 4.105rem;
  }

  .star-logo {
    width: 2.19rem;
    height: 2.19rem;
  }

  .question-container {
    margin: 1.5rem 0;
  }

  .question-container:last-of-type {
    margin-bottom: 2.5rem;
  }

  .question-text {
    font-size: 1.125rem;
    line-height: 1.319rem;
    width: 100%;
    padding: .28rem 0;
  }

  .question-text:hover {
    cursor: pointer;
    color: var(--Pink);
  }

  .answer-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .revealed {
    padding-bottom: 1.5rem;
  }
}